#
# Bluetooth
#
CONFIG_BT_ENABLED=y

#
# Bluetooth controller
#
CONFIG_BTDM_CONTROLLER_MODE_BLE_ONLY=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

#
# File systems
#
CONFIG_EXAMPLE_FILESYSTEM_TYPE="FatFS"
CONFIG_EXAMPLE_FS_TYPE_NONE=
CONFIG_EXAMPLE_FS_TYPE_SPIFFS=
CONFIG_EXAMPLE_FS_TYPE_FAT=y
CONFIG_EXAMPLE_FS_TYPE_LFS=

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_fatfs_4M.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_fatfs_4M.csv"

#
# SPIFFS Configuration
#
CONFIG_SPIFFS_MAX_PARTITIONS=1
CONFIG_SPIFFS_OBJ_NAME_LEN=64

#
# FatFS
#

CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=127

#
# Wear Levelling
#
CONFIG_WL_SECTOR_SIZE_512=
CONFIG_WL_SECTOR_SIZE_4096=y
CONFIG_WL_SECTOR_SIZE=4096

#
# espfs
#
CONFIG_ESPFS_IMAGEROOTDIR="fs/espfs"
CONFIG_ESPFS_USE_HEATSHRINK=
CONFIG_ESPFS_USE_GZIP=
CONFIG_ESPFS_USE_MINIFY_TOOLS=

